<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="supermarket_rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="supermarket_rcp.Perspective"
            id="SuperMarket_Rcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="supermarket.views.mianView"
            id="supermarket.views.mianView"
            name="销售界面">
      </view>
      <view
            class="supermarket.views.interFaceView"
            icon="icons/alt_about.gif"
            id="supermarket.views.interFaceView"
            name="选项界面">
      </view>
      <view
            class="supermarket.views.adminManager"
            id="supermarket.views.adminManager"
            name="管理界面">
      </view>
      <view
            class="supermarket.views.adminManagerView"
            id="supermarket.views.adminManagerView"
            name="管理界面">
      </view>
      <view
            class="supermarket.views.interfaceView"
            id="supermarket.views.interfaceView"
            name="选项界面">
      </view>
      <view
            class="supermarket.views.VipView"
            id="supermarket.views.VipView"
            name="Vip销售界面">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="supermarket.editer.manager"
            id="supermarket.editer.manager"
            name="New EditorPart">
      </editor>
      <editor
            class="supermarket.views.adminManagerE"
            id="supermarket.views.adminManagerE"
            name="管理界面">
      </editor>
      <editor
            class="supermarket.views.interFaceEditor"
            id="supermarket.views.interFaceEditor"
            name="管理界面">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="SuperMarket_Rcp.application"
            name="AutoSuperMarket">
         <property
               name="appName"
               value="AutoSuperMarket">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>

</plugin>
